<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ingredientes</th>
                <th scope="col">Precio</th>
                <th scope="col">Peso</th>
            </tr>
        </thead>
        <tbody>
            <tr style="cursor: pointer;" (click)="lanzarEventoPizzaSeleccionada(pizza)"  *ngFor="let pizza of listaPizzas">
                <td>{{pizza.nombre}}</td>
                <td>{{pizza.ingredientes}}</td>
                <td>{{pizza.precio}}</td>
                <td>{{pizza.peso}}grs</td>
               
            </tr>
        </tbody>
    </table>
    
</div>